// Branding colors

$color-primary:      #0971E6;
$color-secondary:    #FB7D21;
$color-tertiary:     #9050A3;
$color-black:        #37373B;
$color-grey:         #787882;
$color-light-grey:   #C3C3C7;
$color-lighter-grey: #FCFCFE;
$color-success:      #60C702;
$color-warning:      #FEE13D;
$color-error:        #F22E24;
$color-white:        #FFF;

// Extra colors

$color-shadow: #F0F0F2;
$color-primary-shade-01: #3386e3;
$color-primary-shade-02: #1e7be5;
