/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   -- modified by mahestro <millanluiseduardo@gmail.com>
   -- BEM-friendly
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  min-height: 100%;
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Roboto", Helvetica, arial, sans-serif, Helvetica, arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #37373B;
  background-color: #FFF;
  overflow-x: hidden;
  text-rendering: geometricPrecision; }

a {
  color: #0971E6;
  text-decoration: none; }

/*------------------------------------
FONTS
------------------------------------*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-lightitalic.eot");
  src: url("fonts/roboto/roboto-lightitalic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-lightitalic.woff") format("woff"), url("fonts/roboto/roboto-lightitalic.ttf") format("truetype"), url("fonts/roboto/roboto-lightitalic.svg#Roboto") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-regular.eot");
  src: url("fonts/roboto/roboto-regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-regular.woff") format("woff"), url("fonts/roboto/roboto-regular.ttf") format("truetype"), url("fonts/roboto/roboto-regular.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-italic.eot");
  src: url("fonts/roboto/roboto-italic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-italic.woff") format("woff"), url("fonts/roboto/roboto-italic.ttf") format("truetype"), url("fonts/roboto/roboto-italic.svg#Roboto") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-bold.eot");
  src: url("fonts/roboto/roboto-bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-bold.woff") format("woff"), url("fonts/roboto/roboto-bold.ttf") format("truetype"), url("fonts/roboto/roboto-bold.svg#Roboto") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-bolditalic.eot");
  src: url("fonts/roboto/roboto-bolditalic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-bolditalic.woff") format("woff"), url("fonts/roboto/roboto-bolditalic.ttf") format("truetype"), url("fonts/roboto/roboto-bolditalic.svg#Roboto") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-black.eot");
  src: url("fonts/roboto/roboto-black.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-black.woff") format("woff"), url("fonts/roboto/roboto-black.ttf") format("truetype"), url("fonts/roboto/roboto-black.svg#Roboto") format("svg");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/roboto-blackitalic.eot");
  src: url("fonts/roboto/roboto-blackitalic.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/roboto-blackitalic.woff") format("woff"), url("fonts/roboto/roboto-blackitalic.ttf") format("truetype"), url("fonts/roboto/roboto-blackitalic.svg#Roboto") format("svg");
  font-weight: 800;
  font-style: italic; }

/*------------------------------------
TYPOGRAPHY
------------------------------------*/
h1 {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 78px;
  line-height: 84px;
  font-weight: 300; }

h2 {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 58px;
  line-height: 72px;
  font-weight: 400; }

h3 {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 46px;
  line-height: 60px;
  font-weight: 400; }

h4 {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 34px;
  line-height: 48px;
  font-weight: 800; }

h5 {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 26px;
  line-height: 36px;
  font-weight: 800; }

.typography-lead, header .logo-wrapper span {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: #37373B; }

.typography-body, p {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 20px; }

.typography-caption {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
  font-weight: 400; }

.typography-small {
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400; }

strong {
  font-weight: 600; }

/*------------------------------------
LAYOUT
------------------------------------*/
.wrapper, section.form,
section.message {
  width: 400px;
  margin: 0 auto; }

.wrapper--form {
  margin-top: 40px; }

header {
  height: 160px;
  background-color: #FCFCFE;
  border-bottom: solid 1px #F0F0F2; }
  header .typography-lead, header .logo-wrapper span {
    font-weight: 400; }
  header .logo-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .logo-wrapper span {
      display: inline-block;
      color: #C3C3C7;
      margin: 0 25px; }
  header .title {
    padding-top: 25px;
    text-align: center;
    color: #787882; }

section.form,
section.message {
  padding-top: 80px; }

section.message {
  text-align: center; }
  section.message h5 {
    margin: 40px 0 20px; }

.message-img-wrapper {
  margin: 25px auto;
  text-align: center; }

.sep {
  content: ' ';
  margin: 60px auto;
  width: 70px;
  height: 1px;
  background-color: #C3C3C7; }

/*------------------------------------
FORM
------------------------------------*/
.form__field {
  margin-top: 15px;
  color: #787882; }

.form__field--error input[type="text"] {
  border-color: #F22E24; }

.form__label {
  margin-bottom: 10px; }

.form__field__alert {
  color: #F22E24;
  padding-top: 5px; }

.input-required {
  font-weight: 800;
  color: #FB7D21; }

.form__submit-area {
  margin-top: 20px; }

input, textarea {
  font-family: "Roboto", Helvetica, arial, sans-serif; }

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 25px;
  background-color: #FFF;
  border: solid 1px #C3C3C7;
  border-radius: 4px;
  font-size: 16px;
  color: #787882; }

.textarea {
  width: 100%;
  height: 100px;
  padding: 25px;
  background-color: #FFF;
  border: solid 1px #C3C3C7;
  border-radius: 4px;
  font-size: 16px;
  color: #787882; }

.textfield::placeholder,
.textarea::placeholder {
  color: #C3C3C7; }

/*------------------------------------
LINKS
------------------------------------*/
.link {
  color: #0971E6;
  text-decoration: none; }
  .link .icon {
    margin-left: 5px; }

.link:hover,
.link:focus {
  color: #787882;
  text-decoration: underline; }
  .link:hover .icon,
  .link:focus .icon {
    fill: #787882; }

.link:active {
  color: #9050A3; }

/*------------------------------------
BUTTONS
------------------------------------*/
.button {
  position: relative;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
  border: none; }

.button-progress:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  width: 25px;
  height: 25px;
  border: 3px solid #FCFCFE;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  animation: icon-spin 2s linear infinite; }

.button--submit {
  width: 100%;
  background-color: #0971E6;
  color: #FFF; }

.button--submit:hover,
.button--submit:focus {
  background-color: #3386e3; }

.button--submit:active {
  background-color: #3386e3; }

.button--submit[disabled] {
  background-color: #C3C3C7;
  cursor: progress; }

.button--submit[disabled]:hover {
  border: none; }

/*------------------------------------
ICONS
------------------------------------*/
.icon {
  display: inline-block;
  fill: #37373B; }

.icon--xsmall {
  width: 14px;
  height: 14px; }

.icon--small {
  width: 24px;
  height: 24px; }

.icon--regular {
  width: 36px;
  height: 36px; }

.icon--xlarge {
  width: 120px;
  height: 120px; }

.icon--request {
  fill: #60C702; }

.icon--heartbroken {
  fill: #F22E24; }

/*------------------------------------
HELPERS
------------------------------------*/
.hide {
  display: none; }

/*------------------------------------
ANIMATIONS
------------------------------------*/
@keyframes icon-spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
