@import 'styles/modules/all';
@import 'styles/partials/reset';

body {
  font-family:      $font-primary-stack, Helvetica, arial, sans-serif;
  font-weight:      $font-primary-weight-regular;
  font-style:       normal;
  font-size:        $body-size;
  line-height:      $body-lineheight;
  color:            $color-black;
  background-color: $color-lighter-grey;
  overflow-x:       hidden;
  text-rendering:   geometricPrecision;
}

a {
  color:           $color-primary;
  text-decoration: none;
}

/*------------------------------------
FONTS
------------------------------------*/

@include font-family($font-primary, $font-primary-weight-light, italic, 'fonts/roboto/', 'roboto-lightitalic');
@include font-family($font-primary, $font-primary-weight-regular, normal, 'fonts/roboto/', 'roboto-regular');
@include font-family($font-primary, $font-primary-weight-regular, italic, 'fonts/roboto/', 'roboto-italic');
@include font-family($font-primary, $font-primary-weight-medium, normal, 'fonts/roboto/', 'roboto-bold');
@include font-family($font-primary, $font-primary-weight-medium, italic, 'fonts/roboto/', 'roboto-bolditalic');
@include font-family($font-primary, $font-primary-weight-bold, normal, 'fonts/roboto/', 'roboto-black');
@include font-family($font-primary, $font-primary-weight-bold, italic, 'fonts/roboto/', 'roboto-blackitalic');

/*------------------------------------
TYPOGRAPHY
------------------------------------*/

h1 {
  font-family: $font-primary-stack;
  font-size:   $h1-size;
  line-height: $h1-lineheight;
  font-weight: $font-primary-weight-light
}

h2 {
  font-family: $font-primary-stack;
  font-size:   $h2-size;
  line-height: $h2-lineheight;
  font-weight: $font-primary-weight-regular;
}

h3 {
  font-family: $font-primary-stack;
  font-size:   $h3-size;
  line-height: $h3-lineheight;
  font-weight: $font-primary-weight-regular;
}

h4 {
  font-family: $font-primary-stack;
  font-size:   $h4-size;
  line-height: $h4-lineheight;
  font-weight: $font-primary-weight-bold;
}

h5 {
  font-family: $font-primary-stack;
  font-size:   $h5-size;
  line-height: $h5-lineheight;
  font-weight: $font-primary-weight-bold;
}

.typography-lead {
  font-family: $font-primary-stack;
  font-size:   $lead-size;
  line-height: $lead-lineheight;
  font-weight: $font-primary-weight-regular;
  color:       $color-primary;
}

.typography-body, p {
  font-family: $font-primary-stack;
  font-size:   $body-size;
  line-height: $body-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-caption {
  font-family: $font-primary-stack;
  font-size:   $caption-size;
  line-height: $caption-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-small {
  font-family: $font-primary-stack;
  font-size:   $small-size;
  line-height: $small-lineheight;
  font-weight: $font-primary-weight-regular;
}

strong {
  font-weight: $font-primary-weight-medium;
}


/*------------------------------------
LAYOUT
------------------------------------*/

.wrapper {
  width:  400px;
  margin: 0 auto;
}


/*------------------------------------
FORM
------------------------------------*/

input, textarea {
  font-family: $font-primary-stack;
}

.textfield {
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  background-color: #fff;
  border: solid 1px #E6E6E6;
  border-radius: 2px;
  font-size: 16px;
  color: #4f4f4f;
}

.textfield::placeholder,
.textarea::placeholder {
  color: #d2d2d2;
}


/*------------------------------------
LINKS
------------------------------------*/

.link {
	color: $color-primary;
  text-decoration: none;

  & .icon {
    margin-left: $base-unit,
  }
}

.link:hover,
.link:focus {
	color:           $color-grey;
  text-decoration: underline;

  & .icon {
    fill: $color-grey;
  }
}

.link:active {
	color: $color-tertiary;
}

/*------------------------------------
BUTTONS
------------------------------------*/

.button {
  font-family: $font-primary-stack;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
}

.button--submit {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  font-weight: normal;
  background-color: #1abb83;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.button--submit:hover,
.button--submit:focus {
  background-color: #28da9c;
  border-bottom: solid 2px #1abb83;
}

.button--submit:active {
  background-color: #16af7a;
}

.button--submit[disabled] {
  background-color: #f8f8f8;
  color: #a2a2a2;
  cursor: progress;
}

.button--submit[disabled]:hover {
  border: none;
}

/*------------------------------------
ICONS
------------------------------------*/

.icon {
  display: inline-block;
  fill: $color-black;
}

.icon--xsmall {
	width:  14px;
	height: 14px;
}

.icon--small {
	width:  24px;
	height: 24px;
}

.icon--regular {
	width:  36px;
	height: 36px;
}

.icon--xlarge {
  width:  120px;
  height: 120px;
}

.icon--request,
.icon--heartbroken {
  fill: $color-success;
}

/*------------------------------------
HELPERS
------------------------------------*/

.hide {
  display: none;
}

%img.img-vertical-middle {
	max-height: 100%;
	max-width : 100%;
	width     : auto;
	height    : auto;
	position  : absolute;
	top       : 0;
	bottom    : 0;
	left      : 0;
	right     : 0;
	margin    : auto;
}
