@import 'styles/modules/all';
@import 'styles/partials/reset';

body {
  font-family:      $font-primary-stack, Helvetica, arial, sans-serif;
  font-weight:      $font-primary-weight-regular;
  font-style:       normal;
  font-size:        $body-size;
  line-height:      $body-lineheight;
  color:            $color-black;
  background-color: $color-white;
  overflow-x:       hidden;
  text-rendering:   geometricPrecision;
}

a {
  color:           $color-primary;
  text-decoration: none;
  cursor:          pointer;
}

/*------------------------------------
FONTS
------------------------------------*/

@include font-family($font-primary, $font-primary-weight-light, italic, 'fonts/roboto/', 'roboto-lightitalic');
@include font-family($font-primary, $font-primary-weight-regular, normal, 'fonts/roboto/', 'roboto-regular');
@include font-family($font-primary, $font-primary-weight-regular, italic, 'fonts/roboto/', 'roboto-italic');
@include font-family($font-primary, $font-primary-weight-medium, normal, 'fonts/roboto/', 'roboto-bold');
@include font-family($font-primary, $font-primary-weight-medium, italic, 'fonts/roboto/', 'roboto-bolditalic');
@include font-family($font-primary, $font-primary-weight-bold, normal, 'fonts/roboto/', 'roboto-black');
@include font-family($font-primary, $font-primary-weight-bold, italic, 'fonts/roboto/', 'roboto-blackitalic');

/*------------------------------------
TYPOGRAPHY
------------------------------------*/

h1 {
  font-family: $font-primary-stack;
  font-size:   $h1-size;
  line-height: $h1-lineheight;
  font-weight: $font-primary-weight-light
}

h2 {
  font-family: $font-primary-stack;
  font-size:   $h2-size;
  line-height: $h2-lineheight;
  font-weight: $font-primary-weight-regular;
}

h3 {
  font-family: $font-primary-stack;
  font-size:   $h3-size;
  line-height: $h3-lineheight;
  font-weight: $font-primary-weight-regular;
}

h4 {
  font-family: $font-primary-stack;
  font-size:   $h4-size;
  line-height: $h4-lineheight;
  font-weight: $font-primary-weight-bold;
}

h5 {
  font-family: $font-primary-stack;
  font-size:   $h5-size;
  line-height: $h5-lineheight;
  font-weight: $font-primary-weight-bold;
}

.typography-lead {
  font-family: $font-primary-stack;
  font-size:   $lead-size;
  line-height: $lead-lineheight;
  font-weight: $font-primary-weight-bold;
  color:       $color-black;
}

.typography-body, p {
  font-family: $font-primary-stack;
  font-size:   $body-size;
  line-height: $body-lineheight;
  font-weight: $font-primary-weight-regular;
  padding-top: $base-unit * 4;
}

.typography-caption {
  font-family: $font-primary-stack;
  font-size:   $caption-size;
  line-height: $caption-lineheight;
  font-weight: $font-primary-weight-regular;
}

.typography-small {
  font-family: $font-primary-stack;
  font-size:   $small-size;
  line-height: $small-lineheight;
  font-weight: $font-primary-weight-regular;
}

strong {
  font-weight: $font-primary-weight-medium;
}


/*------------------------------------
LAYOUT
------------------------------------*/

.wrapper {
  width:  400px;
  margin: 0 auto;
}

.wrapper--form {
  margin-top: $base-unit * 8;
}

.wrapper--listing {
  margin-top: $base-unit * 6;
}

header {
  height:           $base-unit * 32;
  background-color: $color-lighter-grey;
  border-bottom:    solid 1px $color-shadow;

  .typography-lead {
    font-weight: $font-primary-weight-regular;
  }

  .logo-wrapper {
    padding-top:     $base-unit * 10;
    display:         flex;
    justify-content: center;
    align-items:     center;

    span {
      display: inline-block;
      color:   $color-light-grey;
      margin:  0 $base-unit * 5;
      @extend .typography-lead;
    }
  }

  .title {
    padding-top: $base-unit * 5;
    text-align:  center;
    color:       $color-grey;
  }
}

section.form,
section.message {
  @extend .wrapper;
  padding-top:    $base-unit * 16;
  padding-bottom: $base-unit * 16;
}

section.message {
  text-align: center;

  h5 {
    margin: $base-unit * 8 0 $base-unit * 4;
  }
}

.message-img-wrapper {
  margin: $base-unit * -12 auto 0;
  text-align: center;
}

.sep {
  content:          ' ';
  margin:           $base-unit * 12 auto;
  width:            70px;
  height:           1px;
  background-color: $color-light-grey
}

.list__title {
  display:         flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  align-items:     baseline;
}

.card {
  display:         flex;
  flex-wrap:       nowrap;
  justify-content: space-between;
  border:          1px solid $color-light-grey;
  border-radius:   $corner-radius * 2;
  padding:         $base-unit * 3;
  margin-top:      $base-unit * 3;
}

.card:first {
  margin-top: 0;
}

.card__info {
  width: 60%;
}

.card__info__title {
  @extend .typography-lead;
  font-weight: $font-primary-weight-regular;
  white-space:   nowrap;
  overflow:      hidden;
  text-overflow: ellipsis;
}

.card__info__details {
  margin-top: $base-unit * 3;
  color:      $color-grey;

  > div {
    margin-top: $base-unit;
  }
}

.card__links {
  text-align: right;

  li {
    margin-bottom: $base-unit * 2;
  }
}

.card-list-wrapper {
  margin-top: $base-unit * 7;
}

.card__error {
  margin-top:       $base-unit * 3;
  padding:          $base-unit;
  background-color: $color-lighter-grey;
  color:            $color-error;
  border-radius:    $corner-radius;
}

/*------------------------------------
FORM
------------------------------------*/

.form__field {
  margin-top: $base-unit * 3;
  color:      $color-grey;
}

.form__field--error input[type="text"] {
  border-color: $color-error;
}

.form__label {
  margin-bottom: $base-unit * 2;
}

.form__field__alert {
  color:       $color-error;
  padding-top: $base-unit;
}

.input-required {
  font-weight: $font-primary-weight-bold;
  color:       $color-secondary;
}

.form__submit-area {
  margin-top: $base-unit * 4;
}

.form__selector {
  margin-top:   $base-unit * 3;
  padding:      $base-unit * 4 0;
  border:       1px solid $color-light-grey;
  border-right: none;
  border-left:  none;
}

.form__selector__item {
  margin-top: $base-unit * 2;

  & strong {
    color: $color-black;
  }
}

.form__selector__item:first-child {
  margin-top: 0;
}

.dropdown {
  position: relative;

  & ul {
    z-index:          100;
    position:         absolute;
    top:              $base-unit * 6;
    right:            0px;
    width:            $base-unit * 31;
    padding:          $base-unit * 3;
    border:           1px solid $color-light-grey;
    background-color: $color-white;

    & li {
      margin-top: $base-unit;
      text-align: right;
    }
  }
}

input, textarea {
  font-family: $font-primary-stack;
}

.textfield {
  width:            100%;
  height:           $base-unit * 10;
  line-height:      $base-unit * 10;
  padding:          0 $base-unit * 5;
  background-color: $color-white;
  border:           solid 1px $color-light-grey;
  border-radius:    $corner-radius * 2;
  font-size:        $body-size;
  color:            $color-grey;
}

.textarea {
  width:            100%;
  height:           $base-unit * 20;
  padding:          $base-unit * 5;
  background-color: $color-white;
  border:           solid 1px $color-light-grey;
  border-radius:    $corner-radius * 2;
  font-size:        $body-size;
  color:            $color-grey;
}

.textfield::placeholder,
.textarea::placeholder {
  color: $color-light-grey;
}


/*------------------------------------
LINKS
------------------------------------*/

.link {
	color: $color-primary;
  text-decoration: none;

  & .icon {
    margin-left: $base-unit,
  }
}

.link:hover,
.link:focus {
	color:           $color-grey;
  text-decoration: underline;

  & .icon {
    fill: $color-grey;
  }
}

.link:active {
	color: $color-tertiary;
}

.link-delete {
  color: $color-error;
}

/*------------------------------------
BUTTONS
------------------------------------*/

.button {
  position:      relative;
  font-family:   $font-primary-stack;
  height:        $base-unit * 10;
  line-height:   $base-unit * 10;
  font-size:     $body-size;
  font-weight:   $font-primary-weight-bold;
  text-align:    center;
  border-radius: $corner-radius * 2;
  user-select:   none;
  cursor:        pointer;
  border:        none;
}

.button-progress:after {
  content:       '';
  display:       block;
  position:      absolute;
  top:           50%;
  right:         10px;
  margin-top:    -10px;
  width:         25px;
  height:        25px;
  border:        3px solid $color-lighter-grey;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  animation:     icon-spin 2s linear infinite;
}

.button--submit {
  width:            100%;
  background-color: $color-primary;
  color:            $color-white;
}

.button--submit:hover,
.button--submit:focus {
  background-color: $color-primary-shade-01;
}

.button--submit:active {
  background-color: $color-primary-shade-01;
}

.button--submit[disabled] {
  background-color: $color-light-grey;
  cursor: progress;
}

.button--submit[disabled]:hover {
  border: none;
}

/*------------------------------------
ICONS
------------------------------------*/

.icon {
  display: inline-block;
  fill: $color-black;
}

.icon--xsmall {
	width:  14px;
	height: 14px;
}

.icon--small {
	width:  24px;
	height: 24px;
}

.icon--regular {
	width:  36px;
	height: 36px;
}

.icon--xlarge {
  width:  120px;
  height: 120px;
}

.icon--request {
  fill: $color-success;
}

.icon--heartbroken {
  fill: $color-error;
}

.icon--status {
  margin-left:   $base-unit;
  width:         10px;
  height:        10px;
  border-radius: 5px;
}

.status--error {
  background-color: $color-error;
}

.status--success {
  background-color: $color-success;
}

/*------------------------------------
HELPERS
------------------------------------*/

.hide {
  display: none;
}

%img.img-vertical-middle {
	max-height: 100%;
	max-width:  100%;
	width:      auto;
	height:     auto;
	position:   absolute;
	top:        0;
	bottom:     0;
	left:       0;
	right:      0;
	margin:     auto;
}


/*------------------------------------
ANIMATIONS
------------------------------------*/

@keyframes icon-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
